/* You can add global styles to this file, and also import other style files */
//header {
//  position: relative;
//  height: 100vh;
//  overflow: hidden;
//
//  video {
//    object-fit: cover;
//    width: 100%;
//    height: 100%;
//  }
//
//  nav {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//
//    ul {
//      list-style: none;
//      display: flex;
//
//      li {
//        margin: 0 15px;
//
//        a {
//          text-decoration: none;
//          color: #fff;
//          font-size: 18px;
//          font-weight: bold;
//        }
//      }
//    }
//  }
//}

//header {
//  position: relative;
//  height: 100vh;
//  overflow: hidden;
//
//  .logo {
//    position: absolute;
//    top: 20px; /* Ajustez la marge supérieure pour placer le logo où vous le souhaitez */
//    left: 20px; /* Ajustez la marge gauche pour placer le logo où vous le souhaitez */
//    z-index: 2;
//  }
//
//  .logo img {
//    width: 200px; /* Ajustez la taille du logo selon vos besoins */
//    height: auto;
//  }
//
//  .hide {
//    display: none;
//  }
//
//  video {
//    object-fit: cover;
//    width: 100%;
//    height: 100%;
//  }
//
//  nav {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    height: 100px; /* Ajoutez la même hauteur que le logo du coin supérieur gauche */
//
//    ul {
//      list-style: none;
//      display: flex;
//      justify-content: center; /* Ajout de cette ligne pour centrer les éléments horizontalement */
//      align-items: center; /* Ajoutez cette ligne pour centrer verticalement les éléments */
//
//      li {
//        margin: 0 15px;
//
//        a {
//          text-decoration: none;
//          color: #fff;
//          font-size: 18px;
//          font-weight: bold;
//        }
//      }
//    }
//
//    .logo {
//      display: none;
//    }
//
//    .logo img {
//      width: auto; /* Ajustez la taille du logo selon vos besoins */
//      height: 100px;
//    }
//  }
//
//  .site-title {
//    position: absolute;
//    top: 70%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    color: #fff;
//    font-size: 24px;
//    font-weight: bold;
//    z-index: 2;
//    white-space: nowrap; // Empêche le saut de ligne prématuré
//
//    // Ajoutez une classe pour l'animation
//    &.animate {
//      opacity: 0;
//    }
//  }
//
//
//  &.scrolled {
//    nav {
//      position: fixed;
//      top: 0;
//      left: 50%;
//      width: 100%;
//      height: 130px;
//      transform: translateX(-50%);
//      background-color: rgba(0, 0, 0, 0.8);
//
//      ul {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        height: 100%; // Ajoutez cette ligne pour occuper toute la hauteur de la barre fixe
//
//        li {
//          margin: 0 15px;
//
//          a {
//            text-decoration: none;
//            color: #fff;
//            font-size: 18px;
//            font-weight: bold;
//          }
//        }
//      }
//
//      .logo {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        margin-right: auto;
//      }
//
//
//    }
//  }
//}


//header {
//  position: relative;
//  height: 100vh;
//  overflow: hidden;
//
//  .logo {
//    position: absolute;
//    top: 20px;
//    left: 20px;
//    z-index: 2;
//
//    img {
//      width: 200px;
//      height: auto;
//    }
//  }
//
//  .hide {
//    display: none;
//  }
//
//  video {
//    object-fit: cover;
//    width: 100%;
//    height: 100%;
//  }
//
//  nav {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    display: flex;
//    flex-direction: column; /* Changez la direction en colonne pour aligner les éléments verticalement */
//    align-items: center;
//    height: 100px;
//
//    ul {
//      list-style: none;
//      display: flex;
//
//      li {
//        margin: 0 15px;
//
//        a {
//          text-decoration: none;
//          color: #fff;
//          font-size: 18px;
//          font-weight: bold;
//        }
//      }
//    }
//
//    .logo {
//      display: none;
//    }
//
//    .logo img {
//      width: auto;
//      height: 100px;
//    }
//  }
//
//  .site-title {
//    position: absolute;
//    top: 70%;
//    left: 51.2%;
//    transform: translate(-50%, -50%);
//    color: #fff;
//    font-size: 60px;
//    font-weight: bold;
//    z-index: 2;
//    white-space: nowrap;
//
//    &.animate {
//      opacity: 0;
//    }
//  }
//
//  &.scrolled {
//    nav {
//      position: fixed;
//      top: 0;
//      left: 50%;
//      width: 100%;
//      height: 130px;
//      transform: translateX(-50%);
//      background-color: rgba(0, 0, 0, 0.8);
//
//      ul {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        height: 100%;
//
//        li {
//          margin: 0 15px;
//
//          a {
//            text-decoration: none;
//            color: #fff;
//            font-size: 18px;
//            font-weight: bold;
//          }
//        }
//      }
//
//      .logo {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        margin-right: auto;
//      }
//    }
//  }
//}


//Desktop
// header {
//   position: relative;
//   height: 100vh;
//   overflow: hidden;

//   .logo {
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     z-index: 2;

//     img {
//       width: 200px;
//       height: auto;
//     }
//   }

//   .hide {
//     display: none;
//   }

//   video {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//   }

//   .site-title {
//     position: absolute;
//     top: 70%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
//     font-size: 60px;
//     font-weight: bold;
//     z-index: 2;
//     white-space: nowrap;

//     &.animate {
//       opacity: 0;
//     }
//   }

//   .menu-button {
//     display: none;
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     z-index: 3;
//     cursor: pointer;
//     background: none;
//     border: none;

//     .bar {
//       display: block;
//       width: 30px;
//       height: 3px;
//       background-color: #725341;
//       margin: 6px 0;
//     }
//   }

//   //Menu basique et non burger
//   .menu {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     transform: translateX(0);
//     transition: transform 0.3s ease-in-out;

//     ul {
//       list-style: none;
//       display: flex;

//       li {
//         margin: 0 72px;

//         a {
//           text-decoration: none;
//           color: #fff;
//           font-size: 35px;
//           font-weight: bold;
//         }
//       }
//     }
//   }

//   &.scrolled {
//     .menu {
//       display: none;

//       &.open {

//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         transform: translateX(0);
//         transition: transform 0.3s ease-in-out;
//         background-color: #725341;
//         z-index: 3;
//         /* Ajout d'une couleur de fond pour le menu */

//         ul {
//           list-style: none;
//           display: flex;
//           flex-direction: column;
//           /* Afficher les éléments les uns en dessous des autres */
//           align-items: center;
//           padding: 0;
//           /* Supprimer le padding par défaut de la liste */

//           li {
//             margin: 15px 0;
//             width: 100%;
//             text-align: center;

//             &:nth-child(1) {
//               transform: translateX(150px); /* 1er élément décalé vers la droite */
//             }
  
//             &:nth-child(2) {
//               transform: translateX(0); /* 2e élément centré */
//             }
  
//             &:nth-child(3) {
//               transform: translateX(-150px); /* 3e élément décalé vers la gauche */
//             }


//             a {
//               text-decoration: none;
//               color: #fff9f1;
//               font-size: 42px;
//               font-weight: bold;
//               display: block;
//               /* Pour occuper toute la largeur du conteneur li */
//               padding: 10px;
//               /* Ajouter un padding pour l'apparence visuelle */
//             }
//           }

//         }
//       }
//     }

//     .menu-button {
//       display: block;
//       z-index: 4;
//     }
//   }
// }

//mobile first : 
header {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;

    img {
      width: 40%;
      height: auto;
    }
  }

  .hide {
    display: none;
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .site-title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;

    &.animate {
      opacity: 0;
    }
  }

  .menu-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4;
    cursor: pointer;
    background: none;
    border: none;

    // TODO Voir si cela peux changer de couleur en fonctione de la couleur du background 
    .bar {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #ffffff;
      margin: 6px 0;
    }
  }

  //Menu basique et non burger
  .menu {
    &.open {

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
      background-color: #725341;
      z-index: 3;
      /* Ajout d'une couleur de fond pour le menu */

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        /* Afficher les éléments les uns en dessous des autres */
        align-items: center;
        padding: 0;
        /* Supprimer le padding par défaut de la liste */

        li {
          margin: 15px 0;
          width: 100%;
          text-align: center;

          &:nth-child(1) {
            transform: translateX(-25%); /* 1er élément décalé vers la droite */
          }

          &:nth-child(2) {
            transform: translateX(0); /* 2e élément centré */
          }

          &:nth-child(3) {
            transform: translateX(30%); /* 3e élément décalé vers la gauche */
          }


          a {
            text-decoration: none;
            color: #fff9f1;
            font-size: 42px;
            font-weight: bold;
            display: block;
            /* Pour occuper toute la largeur du conteneur li */
            padding: 10px;
            /* Ajouter un padding pour l'apparence visuelle */
          }
        }

      }
    }
  }
}

@media (min-width: 768px) {
  header {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

    img {
      width: 200px;
      height: auto;
    }
  }

  .hide {
    display: none;
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .site-title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;

    &.animate {
      opacity: 0;
    }
  }

  .menu-button {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
    background: none;
    border: none;

    .bar {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #725341;
      margin: 6px 0;
    }
  }

  //Menu basique et non burger
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 72px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 35px;
          font-weight: bold;
        }
      }
    }
  }

  &.scrolled {
    .menu {
      display: none;

      &.open {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        background-color: #725341;
        z-index: 3;
        /* Ajout d'une couleur de fond pour le menu */

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          /* Afficher les éléments les uns en dessous des autres */
          align-items: center;
          padding: 0;
          /* Supprimer le padding par défaut de la liste */

          li {
            margin: 15px 0;
            width: 100%;
            text-align: center;

            &:nth-child(1) {
              transform: translateX(150px); /* 1er élément décalé vers la droite */
            }
  
            &:nth-child(2) {
              transform: translateX(0); /* 2e élément centré */
            }
  
            &:nth-child(3) {
              transform: translateX(-150px); /* 3e élément décalé vers la gauche */
            }


            a {
              text-decoration: none;
              color: #fff9f1;
              font-size: 42px;
              font-weight: bold;
              display: block;
              /* Pour occuper toute la largeur du conteneur li */
              padding: 10px;
              /* Ajouter un padding pour l'apparence visuelle */
            }
          }

        }
      }
    }

    .menu-button {
      display: block;
      z-index: 4;
    }
  }
}
  
}