<header [ngClass]="{'scrolled': isScrolled}">
  <div class="logo" [ngClass]="{'hide': isScrolled}">
    <img src="assets/picture/logoBG.png" alt="Logo">
  </div>
  <video #videoHeader autoplay muted loop playsinline preload="auto">
    <!-- Ajoutez le chemin de votre vidéo ici -->
    <source src="assets/mp4/video-massage.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!-- Hamburger menu button -->
  <button class="menu-button" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <nav class="menu" [ngClass]="{'open': isMenuOpen}">
    <ul>
      <li><a (click)="scrollToSection('presentation')">Présentation</a></li>
      <li><a (click)="scrollToSection('tarifs')">Tarifs</a></li>
      <li><a (click)="scrollToSection('contact')">Contact</a></li>
    </ul>
  </nav>

  <div class="site-title">
    MR Massages Animaliers
  </div>
</header>
