/* tarifs.component.scss */



//Mobile
.tarif-equins {
  background-color: #725341;
  color: #fff9f1;
  margin: 3%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border-radius: 10px;

  h1 {
    border-bottom: 2px solid #fff9f1;
    font-size: 30px;
    color: #fff9f1;
    margin-bottom: 15px;
  }

  h2 {
    background-color: #fff9f1;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
    color: #725341;
  }

  ul {
    margin-top: 0px;
    border: 1px solid #fff9f1;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    color: #fff9f1;
  }

  li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .massage-type {
      margin-right: 5%;
      margin-left: 2%;
      flex-grow: 1;
      overflow-wrap: break-word;
    }

    .massage-price {
      // margin-right: 5%;
      // overflow-wrap: break-word;
      text-align: right; 
      flex-shrink: 0;
      margin-right: 2%
    }
  }

  .image-container {
    display: none;
  }

  .content-container {
    margin-right: 0px;
    flex: 2;
    /* Ajustez la largeur du contenu par rapport à l'image */
    max-width: 100%;
  }
}

.tarif-canins {
  background-color: #fff9f1;
  color: #725341;
  margin: 3%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border-radius: 10px;

  h1 {
    border-bottom: 2px solid #725341;
    font-size: 30px;
    color: #725341;
    margin-bottom: 15px;
  }

  h2 {
    background-color: #725341;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
    color: #fff9f1;
  }

  ul {
    margin-top: 0px;
    border: 1px solid #725341;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    color: #725341;
  }

  li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .massage-type {
      margin-right: 5%;
      margin-left: 2%;
      flex-grow: 1;
      overflow-wrap: break-word;
    }

    .massage-price {
      // margin-right: 5%;
      // overflow-wrap: break-word;
      text-align: right; 
      flex-shrink: 0;
      margin-right: 2%
    }
  }

  .image-container {
    display: none;
  }

  .content-container {
    margin-right: 0px;
    flex: 2;
    max-width: 100%;
  }
}

//Desktop
@media (min-width: 1500px) {
  .tarifs-container {
    display: flex;
    justify-content: space-between;
  }

  .tarif-equins {
    margin: 75px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 40%;
    border-radius: 10px;
    margin-bottom: 500px;

    .image-container {
      display: block;
      max-width: 25%;
      max-height: 25%;
      margin-left: 10px;
      margin-right: 10px;
    }

    img {
        width: 100%;
        height: auto;
      }
  }

  .tarif-canins {
    margin-top: 500px;
    margin: 75px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 40%;
    border-radius: 10px;
    align-self: flex-end;

    .image-container {
      display: block;
      max-width: 25%;
      max-height: 25%;
      margin-left: 10px;
      margin-right: 10px;
    }

    img {
        width: 100%;
        height: auto;
      }
  }

  .pack-container {
    display: flex;
    // align-items: center;
    // margin-bottom: 20px;

    &:nth-child(even) {
      .image-container {
        order: 2;
      }

      .content-container {
        order: 1;
      }
    }
  }

  // .image-container {
  //   // margin-left: 10px;
  //   // margin-right: 10px;
  //   // max-width: 25%;
  //   // max-height: 25%;
  //   margin-left: 10px;
  //   margin-right: 10px;
  // }

  // img {
  //   // max-width: 100%;
  //   // max-height: 100%;
  //   width: 100%;
  //   height: auto;
  // }

  .content-container {
    margin-right: 0px;
    flex: 2;
    max-width: 100%;
  }

  h1 {
    font-size: 30x;
    color: #725341;
    margin-bottom: 15px;
  }

  .tarif-equins h1 {
    border-bottom: 2px solid #fff9f1;
    padding-bottom: 10px;
  }

  .tarif-canins h1 {
    border-bottom: 2px solid #725341;
    padding-bottom: 10px;
  }

  h2 {
    background-color: #725341;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
    color: #fff9f1;
  }

  ul {
    margin-top: 0px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    color: #725341;
  }

  li {
    margin-bottom: 5px;
  }


  .tarif-canins {
    position: relative;
    top: -20px;
  }
}