<!-- tarifs.component.html -->
<div class="tarifs-container">
  <div class="tarif-equins">
    <h1>Tarifs équins</h1>
    <div *ngFor="let pack of tarifsEquins; let i = index" class="pack-container" [class.image-right]="i % 2 === 0"
      [class.image-left]="i % 2 !== 0">
      <div class="image-container">
        <img src="{{ pack.image }}" alt="{{ pack.pack }}" />
      </div>
      <div class="content-container">
        <h2>{{ pack.pack }}</h2>
        <ul>
          <li *ngFor="let massage of pack.massages">
            <span class="massage-type">{{ massage.type }}</span>
            <span class="massage-price">{{ formatPrix(massage.prix) }}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="tarif-canins">
    <h1>Tarifs canins</h1>
    <div *ngFor="let pack of tarifsCanins; let i = index" class="pack-container" [class.image-right]="i % 2 === 0"
      [class.image-left]="i % 2 !== 0">

      <div class="image-container">
        <img src="{{ pack.image }}" alt="{{ pack.pack }}" />
      </div>
      <div class="content-container">
        <h2>{{ pack.pack }}</h2>
        <ul>
          <li *ngFor="let massage of pack.massages">
            <span class="massage-type">{{ massage.type }}</span>
            <span class="massage-price">{{ formatPrix(massage.prix) }}</span>  
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>