<section class="presentation" [@scrollAnimation]="scrollState">
  <div class="presentation-content" [class.separated]="scrollState === 'separating'">
    <div class="presentation-text" [style.transform]="'translateX(' + -scrollProgress * 100 + '%)'">
      <h2>Présentation</h2>
      <div *ngFor="let section of presentationSections">
        <h3>{{ section.title }}</h3>
        <p>{{ section.content }}</p>
      </div>
    </div>
    <div class="presentation-image" [style.transform]="'translateX(' + scrollProgress * 100 + '%)'">
      <img src="assets/picture/photohades.jpg" alt="Présentation">
    </div>
  </div>
</section>
