$primary-color: #007bff;
$secondary-color: #0056b3;

.presentation {
  text-align: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;

  .presentation-content {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;

    .presentation-image {
      flex: 1;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.5s ease;
      }
    }

    .presentation-text {
      flex: 1;
      padding: 20px; // Ajout d'un padding pour plus d'espace

      h2 {
        font-size: 32px;
        margin-bottom: 20px;
        color: #333;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        text-align: justify;
        color: #555;
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 50%;
        z-index: -1;
      }
    }
  }

  &.separated .presentation-content {
    flex-direction: row;
    transform: translateX(-50%);

    .presentation-image {
      transform: translateX(0);
    }

    .presentation-text {
      transform: translateX(0);
    }
  }

  @media (min-width: 768px) {
    .presentation-content {
      flex-direction: row;
    }
  }
}
