<section class="contact">
  <h2>Contactez-nous</h2>
  <div class="contact-content">
    <div class="contact-icons">
      <div class="icon" (click)="callPhoneNumber()">
        <img src="assets/icones/phone-solid.svg" alt="Phone Icon"> : 06 87 93 34 16
      </div>
      <div class="icon" (click)="sendEmail()">
        <img src="assets/icones/envelope-open-text-solid.svg" alt="Email Icon"> : mr_massages.animaliers@yahoo.com
      </div>
      <div class="icon" (click)="openInstagramProfile()">
        <img src="assets/icones/instagram.svg" alt="Instagram Icon"> : mr_massages.animaliers
      </div>
    </div>
    <div class="contact-map">
      <div id="map" style="height: 400px;"></div>
    </div>
  </div>
</section>
